.bg-aqua{
    background-color: rgb(91, 200, 219);
}

.bg-logo-size {
    padding: 25px 0px;
}

p.subtitle{
    margin-bottom: 0%; margin-top: 0%;
}

.bg-blue{
    background-color: rgb(44, 0, 165);
}

.bg-footer-size{
    padding: 15px 0px;
}

.copyright-color{
    color: white; text-align: center;
}